In [41]:
import pandas as pd

In [42]:
pd.__version__

'1.5.2'

In [150]:

df = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='fastparquet')
# df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
# df = pd.read_csv('yellow_tripdata_2021-01.csv')

In [151]:
len(list(df.columns))

19

In [152]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [153]:
# cols = list(df.columns)

# df = df[cols[1:]]

In [154]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.store_and_fwd_flag = df.store_and_fwd_flag.replace([None], 'Y')

In [155]:
from sqlalchemy import create_engine

In [156]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [157]:
engine.connect()

In [158]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [159]:
# Create index = False avoid creating redundunt index column
df.to_csv('yellow_tripdata_2021-01.csv', index=False)

In [186]:
# clean df
# Read the data in batches
iter_df = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=50000)

In [187]:
d = next(iter_df)
d.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
airport_fee              float64
dtype: object

In [188]:
%time d.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

CPU times: user 6.05 ms, sys: 3.97 ms, total: 10 ms
Wall time: 18.7 ms

0

In [179]:
%time d.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 1.22 s, sys: 0 ns, total: 1.22 s
Wall time: 2.35 s

1000

In [189]:
# Write the batched data
from time import time
count = 1
while True:
    start = time()
    k = next(iter_df, "end")
    if  isinstance(k, str):
        print("Execution completed...")
        break
    k.tpep_pickup_datetime = pd.to_datetime(k.tpep_pickup_datetime)
    k.tpep_dropoff_datetime = pd.to_datetime(k.tpep_dropoff_datetime)
    k.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    stop = time()
    print(f"Batch number {count} written to postgres took {stop-start}")
    count += 1

Batch number 1 written to postgres took 2.747854471206665
Batch number 2 written to postgres took 2.6818807125091553
Batch number 3 written to postgres took 2.6392481327056885
Batch number 4 written to postgres took 2.5914433002471924
Batch number 5 written to postgres took 2.6761600971221924
Batch number 6 written to postgres took 2.798689126968384
Batch number 7 written to postgres took 2.7198376655578613
Batch number 8 written to postgres took 2.755680561065674
Batch number 9 written to postgres took 2.853166103363037
Batch number 10 written to postgres took 2.732146739959717
Batch number 11 written to postgres took 2.673823595046997
Batch number 12 written to postgres took 2.6922552585601807
Batch number 13 written to postgres took 2.696626663208008
Batch number 14 written to postgres took 2.7032980918884277
Batch number 15 written to postgres took 2.624992609024048
Batch number 16 written to postgres took 2.693603515625
Batch number 17 written to postgres took 2.702077865600586
Batch number 18 written to postgres took 2.7211215496063232
Batch number 19 written to postgres took 2.71053409576416
Batch number 20 written to postgres took 2.7242438793182373
Batch number 21 written to postgres took 2.7367939949035645
Batch number 22 written to postgres took 2.9047036170959473
Batch number 23 written to postgres took 2.921668291091919
Batch number 24 written to postgres took 2.8114211559295654
Batch number 25 written to postgres took 2.72430419921875
Batch number 26 written to postgres took 2.644937753677368
Batch number 27 written to postgres took 1.1467397212982178
Execution completed...

In [148]:
while True:
    d = next(iter_df, "end")
    if d == "end":
        print("The end")
        break

The end

In [146]:
[print(i)for i in df.store_and_fwd_flag if i == None ]

[]

In [167]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [170]:
x = [1,2,3,4]
i = iter(x)

In [190]:
df.shape

(1369769, 19)